{% extends "template.html" %}
{% block conteudo %}
    <table class="table table-striped table-responsive table-bordered">
        <thead>
            <tr>
                <th>Número da conta</th>
                <th>Senha</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    {{ variavel1 }}
                </td>
                <td>
                    {{ variavel2 }}
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}